body{
    background-color: rgb(136, 136, 136);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header{
    text-align: center;
    background-color: black;
    padding-bottom: 1em;
    padding-top: 1em;
}

header .title{
    color: yellow;
    margin: 0;
}   

header .subtitle{
    color: yellow;
}

.ad{
    text-align: center;
}

.ad__temp{
    color: white;
}