body{
    background-color: rgb(136, 136, 136);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    height: 280px;
    width: 336px;
}

header{
    text-align: center;
    background-color: black;
    padding-bottom: 1em;
    padding-top: 1em;
}

header .title{
    color: yellow;
    margin: 0;
}   

header .subtitle{
    color: yellow;
}

.ad{
    text-align: center;
    background-image: url();
    background-size: 100%;
    background-repeat: no-repeat;
}

.ad__temp{
    color: yellow;
    margin-top: 0;
}

.ad__sum{
    color: yellow;
}

.ad__planet{
    color: yellow;
}

.ad__climate{
    color: yellow;
    padding-bottom: 1em;
}