body{
    background-color: rgb(56, 56, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header{
    text-align: center;
    background-color: black;
    padding-bottom: 1em;
    padding-top: 1em;
}

header .title{
    color: yellow;
    margin: 0;
}   

header .subtitle{
    color: yellow;
}

ul{
    list-style-type: none;
    color: yellow;
    font-weight: bold;
    font-size: 2em;
    border: 3px solid black;
}

ul li{
    padding-top: 1em;
    padding-bottom: 1em;
}